html, body {
    background-color: rgb(135, 186, 245);
    /* background-image: url(back_1.jpg);
    background-attachment: fixed; */
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.empty {
    border-radius: 50%;
    margin: 20px;
    height: 400px;
    width: 540px;
    /* background: linear-gradient(to bottom, rgb(255, 0, 221), rgb(38, 0, 255)); */
    background: radial-gradient(rgb(8, 218, 255), rgb(255, 46, 255));
}

.pattern {
    margin: 20px;
    width: 900px;
    height: 330px;
    /* border: rgb(255, 255, 255) 5px solid; */
    background-image: url(spongebob.png);
    background-size: 90px;
    background-repeat: repeat;
}

.item {
    margin: 20px;
    width: 540px;
    height: 330px;
    /* border: rgb(255, 255, 255) 5px solid;  */
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.5; */
    /* border: 10px solid; */
    /* border-image: url(spongebob.png) 80 / 5px round; */
    /* border-image: linear-gradient(#f6b73c, #4d9f0c) 1; */
}

/* #cover {
    width: 540px;
    height: 330px;
    background-color: rgba(49, 49, 49, 0.5);
} */

.header {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 15px 25px 15px 25px;
    margin-bottom: 20px;
}

h1 {
    color: rgb(64, 128, 224);
    font-size: 40px;

}

h2 {
    color: white;
    font-size: 35px;
    padding-left: 25px;
}

#logo {
    width: 100px;
    padding-right: 20px;
}

.photo {
    /* display: flex;
    justify-content: space-around; */

}
.photo img{
    height: 150px;
}

.testText img {
    width: 250px;
}

.testText p {
    color: black;
    font-size: 20px;
    padding-left: 20px;
}

@media (max-width: 600px) {
    #testTextNormal, #testTextBig {
       display: none;  /* остается строчка Smallest text example */
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    #testTextSmall, #testTextBig {
        display: none; /* остается строчка Smaller text example */
    }
}

@media (min-width: 1301px) {
    #testTextNormal, #testTextSmall {
        display: none; /* остается строчка Small text example */
    }
}




